<div class="container"><h2>List of products</h2>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <ng-container *ngIf="rows && rows.length>0">
      <tr *ngFor="let product of rows">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!rows || rows.length==0">
      <tr>
        <td colspan="2">No products found</td>
      </tr>
    </ng-container>
  </table>
  <button class="btn btn-danger" type="button" id="clear" name="clear" (click)="clearRows()">Clear ALL</button>
   <button class="btn btn-primary" type="submit" id="submit" name="submit" (click)="UpdateRow()">
     Edit product
    </button>
  <hr/>
  <h2>Add product to list</h2>
  <form>
    <div class="form-group">
      <label for="name">Name of product</label>
      <input class="form-control" type="text" id="name" name="name" [(ngModel)]="newProduct.name"/>
    </div>
    <div class="form-group">
      <label for="description">Description of product</label>
      <textarea class="form-control" rows="3" id="description" name="description" [(ngModel)]="newProduct.description">
  </textarea>
    </div>
    <button class="btn btn-success" type="submit" id="submit" name="submit" (click)="addRow(newProduct)">Add product
    </button>
     </form>
</div>